.section {
  opacity: 0.5;
  -webkit-text-stroke: 1px black;
  transition: opacity 1s ease-in-out;
  &:hover {
    opacity: 1;
  }
  &:hover > .container {
    opacity: 1;
  }
  &--tpr {
    grid-area: tpr;
    background: url("../assets/img/tpr.png") center center / cover;
  }
  &--taco {
    grid-area: taco;
    background: url("../assets/img/taco.png") center top / cover;
  }
  &--grandson {
    grid-area: grandson;
    background: url("../assets/img/grandson.png") center center / cover;
  }
  &--ava {
    grid-area: ava;
    background: url("../assets/img/ava.png") center center / cover;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  transition: opacity 1s ease-in-out;
  &__h2 {
    font-size: 48px;
  }
  &__button-play {
    @include buttonPlay;
  }
  &__button-pause {
    @include buttonPause;
  }
  &__title {
    font-size: 32px;
  }
  &--tpr {
    opacity: 0;
  }
  &--taco {
    opacity: 0;
  }
  &--grandson {
    opacity: 0;
  }
  &--ava {
    opacity: 0;
  }
}
