.section {
  display: flex;
  align-items: center;
  opacity: 0.5;
  -webkit-text-stroke: 1px black;
  transition: opacity 1s ease-in-out;
  @media (max-width: $tablet) {
    min-height: 100vh;
    border-bottom: 10px $themeColor solid;
  }
  @media (max-width: $desktop) {
    min-height: 100vh;
  }
  &:hover {
    opacity: 1;
  }
  &:hover > .container {
    opacity: 1;
  }
  &:hover > .section__button {
    opacity: 1;
  }
  &--tpr {
    grid-area: tpr;
    background: url("../assets/img/tpr.png") center center / cover;
  }
  &--taco {
    grid-area: taco;
    background: url("../assets/img/taco.png") center top / cover;
  }
  &--grandson {
    grid-area: grandson;
    background: url("../assets/img/grandson.png") center center / cover;
  }
  &--ava {
    grid-area: ava;
    background: url("../assets/img/ava.png") center center / cover;
    @media (max-width: $mobile) {
      border-bottom: none;
    }
  }
  &__button {
    @include button;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    &--left {
      background: url("../assets/img/leftArrow.svg") no-repeat;
    }
    &--right {
      background: url("../assets/img/rightArrow.svg") no-repeat;
    }
  }
}
.container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  transition: opacity 1s ease-in-out;
  &__h2 {
    font-size: 48px;
    text-align: center;
  }
  &__button-play {
    @include button;
    background: url("../assets/img/play.svg");
  }
  &__button-pause {
    @include button;
    background: url("../assets/img/pause.svg") no-repeat;
  }
  &__title {
    font-size: 32px;
    text-align: center;
  }
  &--tpr {
    opacity: 0;
  }
  &--taco {
    opacity: 0;
  }
  &--grandson {
    opacity: 0;
  }
  &--ava {
    opacity: 0;
  }
}
