$themeColor: #000;

@mixin h2 {
  font-size: 48px;
  font-weight: normal;
  opacity: 0;
}
@mixin title {
  font-size: 36px;
  opacity: 0;
}
@mixin buttonPlay {
  width: 50px;
  height: 50px;
  background: url("../assets/img/play.svg");
}
@mixin buttonPause{
  width: 50px;
  height: 50px;
  background: url("../assets/img/pause.svg") no-repeat;
}
