@import "~normalize.css";
@import "_variables";
@import "modules/section.scss";
@import "modules/styleReset.scss";
@import "modules/header.scss";
@import "modules/animation.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");

.body {
  color: #fff;
  min-height: 100vh;
  background-color: #000;
  font-family: "Oswald", sans-serif;
  &--preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }
}

.main {
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: $tablet) {
    display: grid;
    grid-template-rows: 3% 1fr 1fr 3%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "tpr taco"
      "grandson ava"
      "footer footer";
  }
  @media (min-width: $desktop) {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5% 1fr 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "tpr taco grandson ava"
      "footer footer footer footer";
  }
  &--preload{
    &:before {
      animation: disappear 0.75s 2.5s ease-in-out both;
      content: 'Hello,lets taste some music';
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 128px;
      color: #fff;
      z-index: 1;
      position: fixed;
      left: 0;
      top: 0;
      background-color: $themeColor;
      width: 100%;
      height: 100%;
    }
  }
}

.footer {
  grid-area: footer;
  background: $themeColor;
  display: flex;
  justify-content: center;
  align-items: center;
}
