@import "~normalize.css";
@import "_variables";
@import "modules/section.scss";
@import "modules/styleReset.scss";
@import "modules/header.scss";
@import "modules/animation.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");

.body--preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.body {
  color: #fff;
  min-height: 100vh;
  background-color: #000;
  font-family: "Oswald", sans-serif;
}

.main {
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: $tablet) {
    display: grid;
    grid-template-rows: 3% 1fr 1fr 3%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "tpr taco"
      "grandson ava"
      "footer footer";
  }
  @media (min-width: $desktop) {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5% 1fr 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "tpr taco grandson ava"
      "footer footer footer footer";
  }
}

.footer {
  grid-area: footer;
  background: $themeColor;
  display: flex;
  justify-content: center;
  align-items: center;
}
